In [83]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [84]:
df = pd.read_csv('insurance.csv')

In [85]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [86]:
df.shape

(1338, 7)

In [87]:
df.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [88]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [89]:
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [90]:
df.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [91]:
df.index

RangeIndex(start=0, stop=1338, step=1)

In [92]:
df['region'].unique()

array(['southwest', 'southeast', 'northwest', 'northeast'], dtype=object)

In [93]:
df['sex'] = df['sex'].map({'male': 0, 'female': 1})

In [94]:
df.head()

   age  sex     bmi  children smoker     region      charges
0   19    1  27.900         0    yes  southwest  16884.92400
1   18    0  33.770         1     no  southeast   1725.55230
2   28    0  33.000         3     no  southeast   4449.46200
3   33    0  22.705         0     no  northwest  21984.47061
4   32    0  28.880         0     no  northwest   3866.85520

In [95]:
df['smoker'].unique()

array(['yes', 'no'], dtype=object)

In [96]:
df['smoker'] = df['smoker'].map({'yes': 0, 'no': 1})

In [97]:
df.head()

   age  sex     bmi  children  smoker     region      charges
0   19    1  27.900         0       0  southwest  16884.92400
1   18    0  33.770         1       1  southeast   1725.55230
2   28    0  33.000         3       1  southeast   4449.46200
3   33    0  22.705         0       1  northwest  21984.47061
4   32    0  28.880         0       1  northwest   3866.85520

In [98]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['region'] = le.fit_transform(df['region'])

In [99]:
df.head()

   age  sex     bmi  children  smoker  region      charges
0   19    1  27.900         0       0       3  16884.92400
1   18    0  33.770         1       1       2   1725.55230
2   28    0  33.000         3       1       2   4449.46200
3   33    0  22.705         0       1       1  21984.47061
4   32    0  28.880         0       1       1   3866.85520

In [100]:
df.tail()

      age  sex    bmi  children  smoker  region     charges
1333   50    0  30.97         3       1       1  10600.5483
1334   18    1  31.92         0       1       0   2205.9808
1335   18    1  36.85         0       1       2   1629.8335
1336   21    1  25.80         0       1       3   2007.9450
1337   61    1  29.07         0       0       1  29141.3603

In [101]:
cols = ['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges']
from sklearn.preprocessing import StandardScaler
std = StandardScaler()
df[cols] = std.fit_transform(df[cols])

In [102]:
df.head()

        age       sex       bmi  children    smoker    region   charges
0 -1.438764  1.010519 -0.453320 -0.908614 -1.970587  1.343905  0.298584
1 -1.509965 -0.989591  0.509621 -0.078767  0.507463  0.438495 -0.953689
2 -0.797954 -0.989591  0.383307  1.580926  0.507463  0.438495 -0.728675
3 -0.441948 -0.989591 -1.305531 -0.908614  0.507463 -0.466915  0.719843
4 -0.513149 -0.989591 -0.292556 -0.908614  0.507463 -0.466915 -0.776802

In [103]:
from sklearn.model_selection import train_test_split
X = df.drop("charges", axis=1)
y = df['charges']

In [104]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [105]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [106]:
y_pred = model.predict(X_test)

In [109]:
from sklearn.metrics import r2_score

r2 = r2_score(y_test, y_pred)
print(r2)

0.7833463107364536